{% extends 'layout.html' %} {% block css_files %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
/>
{% endblock%} {% block page_title %} hakkımızda {% endblock %} {%block content%}
<body style="background-color: #f0f0f0; background-size: cover;">
<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1 style="color: red; font-family: 'Helvetica', sans-serif; font-weight: bold;">Biz Kimiz ?</h1>
      <br></br>
      <h4 style="font-family: 'Arial', sans-serif; color: #333;">FİLMİX, Merak ettiğiniz film ve dizilere kapsamlı bir şekilde ulaşabiliceğiniz ve sevdiğiniz dizi veya filmlere benzer öneriler alabiliceğiniz gerçek dizi film severler için oluşturulmuş bir sitedir.</h4>
      <i class="fa-solid fa-bug"></i>
    </div>
  </div>
</div>
</body>
{% endblock %}
